<mat-toolbar color="primary">
    <span class="spacer"></span>
    <a mat-button routerLink="/recipes/all" class="nav-link" routerLinkActive="router-link-active">
        <div class="link-content">
            <mat-icon>list</mat-icon>
            <span>All Recipes</span>
        </div>
    </a>
    <a mat-button routerLink="/login" class="nav-link" routerLinkActive="router-link-active">
        <div class="link-content">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </div>
    </a>
    <a mat-button routerLink="/register" class="nav-link" routerLinkActive="router-link-active">
        <div class="link-content">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
        </div>
    </a>
    <a mat-button routerLink="/recipes/add" class="nav-link" routerLinkActive="router-link-active">
        <div class="link-content">
            <mat-icon>add_circle</mat-icon>
            <span>Add Recipe</span>
        </div>
    </a>
    <a mat-button routerLink="/logout" class="nav-link" routerLinkActive="router-link-active">
        <div class="link-content">
            <mat-icon>logout</mat-icon>
            <span>Log Out</span>
        </div>
    </a>
</mat-toolbar>

