.nav-link {
    margin: 0 8px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.link-content {
    display: flex;
    align-items: center;
    padding: 8px;
}

.link-content mat-icon {
    margin-right: 8px;
}

.nav-link:hover {
    color: #ee8b1b;
}

mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

a.router-link-active {
    font-weight: bold;
    color: #1e1616;
}