<div class="sample-column">
        <ng-container *ngIf="recipe">
            <igx-card elevated>
                <igx-card-media height="300px">
                    <img [src]="recipe.image">
                </igx-card-media>

                <igx-card-header>
                    <h4 igxCardHeaderTitle>{{ recipe.recipeName }}</h4>
                    <ng-container *ngIf="category">
                    <span>{{ category.name}} </span>
                    <img src={{category.url}} alt={{category.name}}>
                </ng-container>
                </igx-card-header>

                <igx-card-content>
                    <igc-rating [(ngModel)]="recipe.difficulty" name="recipe_difficulty">Difficulty: {{ getStarRating(recipe.difficulty) }}</igc-rating>
                </igx-card-content>
                <igx-card-actions>
                    <button igxButton="outlined" (click)="navigeteToDetails()">Full Details</button>
                    <igx-icon [style.color]="'#ECAA53'"></igx-icon>
                </igx-card-actions>
            </igx-card>
        </ng-container>
</div>