<div class="login-container">
  <form [formGroup]="loginForm" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" [(ngModel)]="password">
    </mat-form-field>
    @if(wrongPWD){
    <mat-error>wrong password</mat-error>}
    <div class="example-button-row">
      <button mat-raised-button color="primary" variant="outlined" (click)="tryLogin()">Log in</button>
      <a mat-raised-button color="primary" variant="outlined" routerLink="/register" (click)="signUp()">Sign up</a>
    </div>
  </form>
</div>